.dropdown-item-hubbo {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.drop-down-hubbo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-item-hubbo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
