.store-container {
  background-color: #fffefb;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.store-sub-container {
  max-width: 1156px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.storeContainerImage2 {
  border-radius: 1.5rem;
  /* width: 100%; */
  aspect-ratio: 4/3;
  max-width: 100%;
  height: auto;
}

.store-box-support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.content-card-store {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.content-store {
  display: flex;
  align-items: flex-start;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 1.5rem;
}

.icon-card {
  border-radius: 9999px;
  background-color: #fff8e7;
  padding: 0.75rem;
}

.icon-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}

.icon-header {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.96px;
  font-weight: 600;
  margin: 0px;
  font-family: "font2";
  text-align: start;
}

.icon-header-content {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: rgb(132, 107, 84);
  margin: 0px;
  font-family: "font1";
  text-align: start;
}

@media screen and (min-width: 768px) {
  .store-box-support {
    gap: 2rem;
  }

  .storeContainerImage2 {
    display: inline;
  }

  .storeContainerImage1 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .store-box-image-card {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .store-box {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .store-container {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .store-sub-container {
    gap: 4rem;
  }

  .store-box-support {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .store-sub-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  .store-box {
    padding-left: 90px;
    padding-right: 90px;
  }

  .store-box-image-card {
    gap: 3rem;
  }

  .store-box-support {
    gap: 3rem;
  }

  .store-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
