.drop-down-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 0.75rem;
}

.dropdown-main-container {
  position: fixed;
  top: 5rem;
  z-index: 10;
  animation: opacity 0.2s linear;
  border-radius: 1rem;
  background-color: #fff5db;
  padding: 1.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-card-toggle {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  background-color: #ffe7a9;
  padding: 0.75rem;
}

.dropdown-icon {
  max-width: 100%;
  height: auto;
}

.item-name {
  margin: 0px;
  color: #472200;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  font-family: "font1";
  margin-left: 1rem;
}
